body {
   /* background-color: rgba(0, 0, 0, 0.5);
    background:url('../images/ganeshMahotsav/BayAreaGanesh/bayAreaGanesh2016 (2).jpg');
    background-size:100% ;
    background-repeat:no-repeat;*/
    
     
}
#logo
{
  background-color:burlywood;
  min-height:100px;
  padding:2px;
  border: inset 4px brown;
  border-radius:5px;
  overflow:auto;
   
}
 .ganeshnav {
  
 background-color:rgba(255,245,125,0.5);
 color:saddlebrown;
}
 nav ul     {
  
 background-color: rgba(255,245,125,0.0);  
 color:saddlebrown;
}
 nav ul li   {
  
 background-color: rgba(255,245,125,0.0); 
 color:saddlebrown;
 font-weight:900;
}
li a  {
  
 background-color: rgba(255,245,125,0.0); 
 color:saddlebrown;
 text-decoration:none;
 font-weight:900;
}
nav{

 /* height:35px;
  text-wrap:none;*/
 
}
ul li
{
    
   text-orientation:sideways;
}
nav
{
    margin-top:3px;
}
form
{
    padding:2px;
    border: 2px ridge silver;
    max-width:410px;
}
.field
{
    border:1px ridge #EEFFFF;
    margin:0px;
    background-color:lightyellow;
    padding:3px;
    padding-top:5px;
    max-width:400px;
    height:auto;
}
.field input,textarea
{
    float:right;
    padding-right:10px;
}
.rightEdge
{
     
    margin-right:2px;
    float:right;
    border:4px ridge;
    border-radius:5px;
    border-color:orangered;
    background-color:rgba(218,165,32,0.75);
    overflow:auto;
}
article{
    border:2px solid brown;
    border-radius:4px;
    background-color:sandybrown;
    padding:3px;
    padding-top:5px;
    height:auto;
}
#container{
    min-width:1000px;
}
.enclosedArticle
{
    border:inset 4px saddlebrown;
    background-color:burlywood;
    padding:2px;
}
.articlePic
{
    margin-right:16px;
}
.articlePic img
{
    margin-right:33px;
    border:ridge 4px gold;
    width:auto; 
    overflow:hidden;
}
.articleText
{
   margin-left:20px;
}
article .innerNav
{
     border:4px outset brown;
    border-radius:4px;
    background-color:beige;
    padding:3px;
   /* padding-top:15px;*/
    height:auto;
    min-height:50px;
}
article nav li 
{
   float:left;
   padding:2px;
   font-size:larger;
   
}
.articlePicResp
{

}
.articlePicResp img
{
    width:20px;
    margin-right:33px;
    border:ridge 4px gold;
    width:auto; 
    overflow:hidden;
}