<!DOCTYPE html>
<div   >
     <H1>'What U Ate' website </H1>
    
    Inspired by a recent assignment of mine where lumch was free and carried out from a bunch of different restaurant, I thought of trying to develop a statistical and historical gathering of data<p/>
    Typically, as a 'post dessert' activity, you would enter a sort of feedback on - yes!- WHATUATE<br />
    Typically
    <ul>
        <li>Date</li>
        <li>The dish you ordered</li>
        <li>Retaurant Ordered from</li>
        <li>Eat in or carry out</li>
        <li>First Time dish?</li>
        <li>First Time Restaurant?</li>
        <li>Like level Dish (1-10)</li>
        <li>Like level restaurant</li>
        <li>Like level ovet</li>
</ul>
</div>

