body {
    background-color:#EEFFFF;
    margin:20px;
    padding:10px;
    border:outset 3px #77AA77 ;
    border-radius:6px;
}
header{
     background-color:#EAEEEA;
    padding:10px;
    border:inset 2px #ABAB7A;
    border-radius:4px;
}
.completed
{
    background-color:#77AA77;
    border: solid green 1px;
}
.notStarted
{
    background-color:#AB7A7A;
    border: solid red 1px;
}
.wip
{
    background-color:#ABAB7A;
    border: solid yellow 1px;
}
.editCell{
    background-color:gray;
}
.subSection 
{
    background-color:#EAEEEA;
    margin:5px;
    border: inset 3px;
    border-radius: 5px;
    padding:5px;

}
.chooseFileStyle {
    background-color: white;
    border: solid 2px green;
    border-radius: 3px;
    padding:2px;
    margin: 1px;
}

.uploadButtonStyle
 { 
    background-color:#AAEEEF;
    border: solid 1px black; 
    border-radius:3px;
    margin:1px;

}
.downloadButtonStyle
 { 
    background-color:#FFFD90;
    border: solid 1px black; 
    border-radius:3px;
    margin:1px;

}
table { width:3200px; max-width:200px; border: solid 2px black;}
td {   max-width:200px; border: solid 1px black;}
inpout {  width:1110px;}
ul {background-color:#ffffff;}
li {width:auto; margin:15px; font-weight:bold;}
