body {
    background-image:url('../images/dwarkamai_1.jpg');
    border: solid 5px;
    background-size: 768px 1024px;
    background-repeat:repeat-x;
    background-position:center;
    opacity:0.8;
     
    
}
.nectar-back {
    border: solid 5px;
    background-color:yellow;
    
}