<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="http"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="Org_MaintEntities" connectionString="Server=tcp:s05.winhost.com;Database=DB_97331_orgmaint;User Id=DB_97331_orgmaint_user;Password=S0nsh@n12;" providerName="System.Data.EntityClient"/>
    <add name="Org_MaintEntities3" connectionString="metadata=res://*/Model.Org_Maint_Admin_Dev.csdl|res://*/Model.Org_Maint_Admin_Dev.ssdl|res://*/Model.Org_Maint_Admin_Dev.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PRATHAMESH\SQLEXPRESS;initial catalog=AdminMaint;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Org_MaintEntities" connectionString="data source=tcp:s05.winhost.com;Initial Catalog=DB_97331_orgmaint;User ID=DB_97331_orgmaint_user;Password=******;Integrated Security=False;" providerName="System.Data.EntityClient"/>
    <add name="Org_MaintEntities_local" connectionString="metadata=res://*/Model.Org_Maint_EM.csdl|res://*/Model.Org_Maint_EM.ssdl|res://*/Model.Org_Maint_EM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PRATHAMESH\SQLEXPRESS;initial catalog=Org_Maint;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="AdminMaintEntities" connectionString="metadata=res://*/Model.Org_Maint_Admin_Dev.csdl|res://*/Model.Org_Maint_Admin_Dev.ssdl|res://*/Model.Org_Maint_Admin_Dev.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PRATHAMESH\SQLEXPRESS;initial catalog=AdminMaint;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>