body {
    border: ridge 5px;
    border-color:skyblue;
    margin:4px;
    background-color:lightskyblue;
        opacity:0.8;
     
    
}
.nectar-back {
    border: groove 5px;
    border-radius:6px;
    border-color:slateblue;
    background-color:silver;
    margin:4px;
 /*   background-image:url('../images/dwarkamai_1.jpg');
    background-size: 768px 1024px;*/
    min-height:768px;
 //   min-width:1024px;
    opacity:1.0;
    font-weight:900;
}
/*
    style=""
*/
.nectar-menu-sidebar {
    margin-top:5px;
    margin-right:15px;
    border: groove 5px;
    width:14%;
    float:left;
    height:auto;
    overflow:auto;
    position:fixed;
    text-decoration:none;
    color:midnightblue;
    background-color:cornflowerblue; 
    border-radius:10px;
    text-align:left;
    padding:0px;
    margin-right:3px;
 /*   background-image:url('../images/dwarkamai_1.jpg');
    background-size: 768px 1024px;
    min-height:768px;*/
    opacity:1.0;
    font-weight:900;
     
}
/*

    style="background-color:orange; color:darkorange;text-decoration:none;"
*/
.sideBar
{

}
table{
      
     opacity:1;
     font-style:italic;
}
.portait
{
    border: 5px outset;
    border-radius:7px;
    border-color:gold;
   
}
.portrait_tr
{
     border: 4px outset;
    border-radius:5px;
    border-color:gold;
    height:auto;
}
.textcontent
{
    border: 14px inset;
    border-radius:3px;
    border-color:brown;
    
}
.weeklytextcontent
{
    border:  4px ridge;
    border-radius:6px;
    width:auto;
    min-width:600px;
    border-radius:3px;
    background-color:sandybrown;
    border-color:brown;
    
}
.archivedtextcontent
{
    border:  7px inset;
    width:auto;
    min-width:600px;
    border-radius:3px;
    border-color:brown;
    
}
.ganesha {
    border: solid 5px;
   background-size: 768px 1024px;
    background-repeat:repeat-x;
    /* background-color:#32c385;*/
    background-image:url('/nectar-words/images/Ganesha.JPG');
    min-height:768px;
    min-width:1024px;
    opacity:0.9;
    font-weight:900;
}