  <form name="wordPressPostForm">
     
            <div class="row">
                <div >
                    <div class="tabContainer">
                        <div class="row indent120"  >
                            <h3>Subreddits {{dateOfRetrieval}}</h3>
                        </div>
                            <div class="row  ">
                                <div class="col-md-12 col-lg-8" >
                                    


                                    <table id="main" class="table table-striped main-bordered"  >
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="text-center border-left noBorderBottom">Hdr Img</th>
                                                <th ng-click="doSort('title')">
                                                    <span ng-style="getSortArrowStyle('title',sortBy)">
                                                        <span class="glyphicon glyphicon-chevron-up" ng-hide="sortBy=='title' && reverse"></span>
                                                        <span class="glyphicon glyphicon-chevron-down" ng-show="sortBy=='title' && reverse"></span>
                                                    </span>  
                                               Title <span class="instructions noBreak">(hover for details)</span>
                                                </th>
                                                <th class="border-left" ng-click="doSort('child.data.created')">
                                                    <span ng-style="getSortArrowStyle('child.data.created',sortBy)">
                                                        <span class="glyphicon glyphicon-chevron-up" ng-hide="sortBy=='child.data.created' && reverse"></span>
                                                        <span class="glyphicon glyphicon-chevron-down" ng-show="sortBy=='child.data.created' && reverse"></span>
                                                    </span>  
                                                    Created
                                                </th>
                                                <th class="border-left" ng-click="doSort('child.data.subscribers')">
                                                    <span ng-style="getSortArrowStyle('child.data.subscribers',sortBy)">
                                                        <span class="glyphicon glyphicon-chevron-up" ng-hide="sortBy=='child.data.subscribers' && reverse"></span>
                                                        <span class="glyphicon glyphicon-chevron-down" ng-show="sortBy=='child.data.subscribers' && reverse"></span>
                                                    </span>
                                                    # Subscribers
                                                </th>
                                                
                                               
                                            </tr>

                                        </thead>

                                        <tbody>
                                            <tr class="{{getSelectedRowClass($index)}}" ng-click=" getCellDetails($index) " ng-repeat="child in subRedditList| orderBy:sortBy:reverse   ">
                                                <td>{{$index+1}}</td>
                                                <td>
                                                   <img src={{child.data.header_img}} alt="no image">
                                                </td>
                                                <td title='{{child.data}}'>{{child.data.title}}</td>
                                                <td> {{ getDate(child.data.created) }}  </td>
                                                <td> {{ child.data.subscribers }}  </td>

                                              
                                               

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                       
                            <div class="col-md-12 col-lg-3" id="right-side">
                                <div><em> (Clicking the cell row on the table to the left will fill in the details below )</em> </div>


                                <table id="author" class="table table-striped ">
                                    <tbody>
                                        <tr class="even"><th>Description</th></tr>

                                        <tr class="odd">
                                            
                                            <td>{{selectedCell.data.description}}</td>
                                        </tr>
                                        <tr class="even">
                                             <th>Public Description</th> 
                                        </tr>
                                        <tr class="odd">
                                            <td>{{selectedCell.data.public_description}}</td>
                                            
                                        </tr>
                                        <tr class="even">
                                            <td colspan="2">.....</td>
                                        </tr>

                                    </tbody>
                                </table>
                                
                                
                              

                            </div>
                        </div>

                        </div>
                </div>
            </div>
</div>
   </form>