<!doctype html>
<html lang="en" ng-app="angularTable">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Sort and Pagination in Angular js</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="style/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-controller="listdata" style="border:5px outset; background-color:#eeffff; margin:4px;padding:3px">
      <span style="margin:3px;padding:3px;background-color:lightgreen; border:2px inset" ng-click="toggle=!toggle" ng-hide="toggle">Show Table</span>
      <span style="margin:3px;padding:3px;background-color:orange; border:2px outset" ng-click="toggle=!toggle" ng-show="toggle">Show JSON</span>
      <div role="main"   ng-show="toggle" >
      <div class="row">
        <h4 ng-click="showStatus=!showStatus">Status, progress, pending</h4>
        <ul  ng-show="showStatus">
          <li> Data collection, classification - show json on screen, copy paste into js object
          <li> Raw data table, sort, filter, page
          <li> Error categorizations over time
          <li> Table representation of above
          <li> Graph representation of all
          <li> 'Fancying' presentation

        </ul>
      </div>
      <div style="background-color:#FFEEEA;border: 2px solid yellow;width:100%">
        <div  class="col-lg-12" >
                    <div  class="page-header">
                        <h2 id="tables">Test Failures {{totalRecords}} records</h2>
                    </div>
                    <div  class="bs-component" >
                      <div class="row">
                      <form class="form-inline">
                        <label >Search</label>&nbsp;&nbsp;<input type="text" ng-model="search" class="form-control" placeholder="Search">
                     </form>
                     <br/>
                        <label >Add </label><br/><label >build</label><input type="text" ng-model="build">&nbsp;&nbsp;
                        <label >time</label ><input type="text" ng-model="time">&nbsp;&nbsp;
                        <label >suite:</label ><input type="text" ng-model="suite">&nbsp;&nbsp;
                        <label >test:</label ><input type="text" ng-model="test">&nbsp;&nbsp;
                        <label >error:</label ><input type="text" ng-model="error"><br/>
                        <label >level5:</label ><input type="text" ng-model="level5">&nbsp;&nbsp;
                        <label >level4: </label ><input type="text" ng-model="level4">&nbsp;&nbsp;
                        <label >level3: </label ><input type="text" ng-model="level3">&nbsp;&nbsp;
                        <label >level2: </label ><input type="text" ng-model="level2">&nbsp;&nbsp;
                        <label >level1: </label ><input type="text" ng-model="level1">&nbsp;&nbsp;
                        <button ng-click="addregressionError()">Add</button>
                      </div>
                    </div>
                      <table class="table table-striped table-hover" style="background-color:beige;border: 2px solid yellow;width:100%">
                           <thead>
                               <tr>
                                   <th ng-click="sort('build')">build</th>
                                   <th ng-click="sort('timeAndDate')">time</th>
                                   <th ng-click="sort('suite')">suite:</th>
                                   <th ng-click="sort('test')">test:</th>
                                   <th ng-click="sort('error')">error</th>
                                   <th ng-click="sort('level5')">level5:</th>
                                   <th ng-click="sort('level4')">level4: </th>
                                   <th ng-click="sort('level3')">level3: </th>
                                   <th ng-click="sort('level2')">level2: </th>
                                   <th ng-click="sort('level1')">level1: </th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr ng-repeat="error in regressionErrors|orderBy:sortKey:reverse|filter:search">
                                   <td>{{error.build}}</td>
                                   <td>{{error.timeAndDate}}</td>
                                   <td>{{error.suite}}</td>
                                   <td>{{error.test}}</td>
                                   <td>{{error.error}}</td>
                                   <td>{{error.level5}}</td>
                                   <td>{{error.level4}}</td>
                                   <td>{{error.level3}}</td>
                                   <td>{{error.level2}}</td>
                                   <td>{{error.level1}}</td>

                               </tr>
                           </tbody>
                       </table>
              </div>
              <div class='row'>
                     <div class="col-lg-6" >
                       <table class="table table-striped table-hover" style="background-color:beige;border: 2px solid yellow">
                            <thead>
                                <tr>
                                  <th ng-click="sort('build')">Build</th>
                                  <th ng-click="sort('field')">Error</th>
                                    <th ng-click="sort('count')">Count</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="error in errorTypes|orderBy:sortKey:reverse|filter:search">
                                  <td>{{error.build}}</td>
                                  <td>{{error.field}}</td>
                                    <td>{{error.count}}</td>

                                </tr>
                            </tbody>
                        </table>
                      </div>
                      <div class="col-lg-6" >
                        <table class="table table-striped table-hover" style="background-color:beige;border: 2px solid yellow">
                             <thead>
                                 <tr>
                                   <th ng-click="sort('build')">Build</th>
                                   <th ng-click="sort('field')">Level1 </th>
                                     <th ng-click="sort('count')">Count</th>

                                 </tr>
                             </thead>
                             <tbody>
                                 <tr ng-repeat="error in level1Errors|orderBy:sortKey:reverse|filter:search">
                                   <td>{{error.build}}</td>
                                   <td>{{error.field}}</td>
                                     <td>{{error.count}}</td>

                                 </tr>
                             </tbody>
                         </table>
                       </div>
            </div>
            <div class='row'>
                   <div class="col-lg-6" >
                     <table class="table table-striped table-hover" style="background-color:beige;border: 2px solid yellow">
                          <thead>
                              <tr>
                                <th ng-click="sort('build')">Build</th>
                                <th ng-click="sort('field')">Level 2</th>
                                  <th ng-click="sort('count')">Count</th>

                              </tr>
                          </thead>
                          <tbody>
                              <tr ng-repeat="error in level2Errors|orderBy:sortKey:reverse|filter:search">
                                <td>{{error.build}}</td>
                                <td>{{error.field}}</td>
                                  <td>{{error.count}}</td>

                              </tr>
                          </tbody>
                      </table>
                    </div>
                    <div class="col-lg-6" >
                      <table class="table table-striped table-hover" style="background-color:beige;border: 2px solid yellow">
                           <thead>
                               <tr>
                                 <th ng-click="sort('build')">Build</th>
                                 <th ng-click="sort('field')">Level3 </th>
                                   <th ng-click="sort('count')">Count</th>

                               </tr>
                           </thead>
                           <tbody>
                               <tr ng-repeat="error in level3Errors|orderBy:sortKey:reverse|filter:search">
                                 <td>{{error.build}}</td>
                                 <td>{{error.field}}</td>
                                   <td>{{error.count}}</td>

                               </tr>
                           </tbody>
                       </table>
                     </div>
          </div> <!-- level 2, level 3-->
             <nvd3 options='options' data='data'></nvd3>
             
                    </div>
                </div>
      </div>
    </div>
    <div ng-hide="toggle" style="margin-top:10px">{{showJson()}}</div>
    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js"></script>
<script src="scripts/app.js"></script>

      </body>
  </html>
