<!DOCTYPE html>
<para>
   Hi, <p>
    This website is being developed with the <a href="https://en.wikipedia.org/wiki/Naam_Foundation" target="_blank">NAAM movement for Farmer Suicides in Maharashtra (India)</a> in mind. <br />

    It has started as a simple accounting web site with the aim of tracking finances, how much the inflow is, what is the deficit, how the funds have  been used, etc. <p/>
    While, as said, it was initiated with the above in mind, it can be applied to any calamity or disaster situation, or any regular situation where a budget is used to maintain
    a list of items, say a transport service which maintains a bunch of trucks.<p/>

    <a name="top"><h3>Elements</h3></a>
   
    I identified and am in the process of developing the following elements:
</p>
    <ol>
        <li><a href="#/budgetStatus">High Level Budget Status</a>.. Gives an overview of Available, Used and Deficit (required) quantities<br />
        Gives a listing of budget history, contributions, allocations. Also one can allocate the available funds.
         </li>
        <li>
            <a href="#/contributors">Contributions</a>.. <br />
            Gives a list of contributions - name, amount, currency, etc. Adding a contribution automatically updates budget status and history
             
        </li>
        <li>
            <a href="#/entityFinanceSummaries">Entity Summaries</a>.. <br />
            A summary of entities involved within the framework of budget distribution. Summary of entities in status of allocated (budget was allocated),
            allocable (budget is available, but not yet allocable) and unallocated (budget not available)<br />
            List of entities with their budget specifics. Add entity. Drill down item wise expenses for an entity

        </li>
</ol>
    <h3>Status on {{date| date:'dd/MM/yyyy'}}, Technology and Design</h3>
    <li>What you are seeing here is a proof of concept user interface not connected to a database with sample data.(clicking the browser refresh button will erase all the data you added, leaving you with the 'pre-loaded' sample data)  </li>
   <li>This update relationships are functional in this P.O.C.  e.g adding a contributor will update budget status.  </li>
    <li> The only flow that is not complete is the drill down for an entity - the coordination between the entity list page and detail page - item wise expense breakup - for each entity </li>
    <li> Iteratively will complete the flows</li>
    <li> work on templatizing the names and other configurability, e.g. the terms 'contributor' and 'entity' will be made configurable and can be renamed 'Donor' and 'Village' or 'funding' and 'vehicle' </li>
    <li> Locally, keep it working with a database </li>
    <li> Iteratively, bring in the data connectivity layers </li>
    <li> Complete UI styling </li>
    <li> Tech stack - front end is AngularJS UI which consumes a WCF web service which in turn talks to a Sql Server database through Entity Framework </li>
   
    <h4>Sources on Github</h4> mail me at shanwork2012@gmail.com
    <a href="#/about">Top of page</a>
</para>
