<h2>Budget Status</h2>
 
<table>
    <tr>
        <th >Available</th>
        <td >{{budgetStatus.BudgetAvailable}}</td>
        </tr>
    <tr>
        <th>Allocated</th>
        <td>{{budgetStatus.BudgetAllocated}}</td>
     </tr>
    <tr>
        <th>Deficit</th>
        <td>{{budgetStatus.BudgetRequired}}</td>

    </tr>
   
</table>
<table>
      <tr>
        <th>Amount</th>
        <th>Debit or Credit</th>
        <th>Date </th>
        <th>Comments </th>
    </tr>
    <tr ng-repeat="budgetHistoryElement in budgetHistory">
        <td>{{budgetHistoryElement.Amount}}</td>
        <td>{{budgetHistoryElement.DebitCredit}}</td>
        <td>{{budgetHistoryElement.Date|date}}</td>
 </tr>
</table>
<br />
