<h2>Budget Status</h2>
 
<table  border="1" cellpadding="0" cellspacing="0">
    <tr>
        <th >Available</th>
        <td >{{budgetStatus.BudgetAvailable}}</td>
        </tr>
    <tr>
        <th>Allocated</th>
        <td>{{budgetStatus.BudgetAllocated}}</td>
     </tr>
    <tr>
        <th>Deficit</th>
        <td>{{budgetStatus.BudgetRequired}}</td>

    </tr>
   
</table>
<p></p>
<table  border="1" cellpadding="0" cellspacing="0">
      <tr>
        <th ng-click="doSort('Amount')" >Amount</th>
        <th ng-click="doSort('DebitCredit')" >Debit or Credit</th>
        <th ng-click="doSort('Date')" >Dates </th>
          <th ng-click="doSort('Principal')">Principal </th>
<th ng-click="doSort('Comments')" >Comments </th>
    </tr>
    <tr>
        <th ><input type="text" ng-model="budgetHistoryFilter.Amount" /></th>
        <th><input type="text" ng-model="budgetHistoryFilter.DebitCredit"> </th>
        <th> <input type="text" ng-model="budgetHistoryFilter.DateString">  </th>
        <th> <input type="text" ng-model="budgetHistoryFilter.Principal">  </th>
<th><input type="text" ng-model="budgetHistoryFilter.Comments">  </th>
    </tr>
<tr ng-repeat="budgetHistoryElement in budgetHistory | filter:budgetHistoryFilter | orderBy:sortBy:reverse"">
        <td>{{budgetHistoryElement.Amount}}</td>
        <td>{{budgetHistoryElement.DebitCredit}}</td>
        <td>{{budgetHistoryElement.DateString}}</td>
    <td>{{budgetHistoryElement.Principal}}</td>
<td>{{budgetHistoryElement.Comments}}</td>
 </tr>
</table>
<br />
