<div class="nectar-menu-sidebar">
    <h4>Pages:</h4>
    <div>
        <a style="text-decoration:none;color:darkblue;" href="#/Principals">Basic Principal</a><p />
        <a style="text-decoration:none;color:darkblue;" href=" #/Amrutvani">Case Study - Amrutvani website </a><p />
        <a style="text-decoration:none;color:darkblue;" href="#/WhatUAte">Case Study - WhatUAte website </a><p />

    </div>
</div>
<div class="nectar-back" style="height:auto;float:right;width:85%;overflow:
    auto;">
    <a name="top"></a><h1>The concept of Hub MVC</h1>
    <a name="mvc_small_simple_more_complex"><h2> MVC Meets its Limits</h2></a>
    Showing simple MVC pattern
    <img src="images/simpleMVC.png" /><p />
    What happens when you try modelling a complex multi element multi dependency applicatiin using MVC
    <img src="images/intricateNetwork.png" />
    <a name="enter_hmvc"><h2>Solution? Hubbing MVC</h2></a>
    <img src="images/HubNetwork.png" />
</div>
