
<div class="row">
    <div class="col-lg-12 col-cm-12">
        <H1>Sai Amruta Vani Website </H1>Vists: {{visits}}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <img class="portait" ng-src="images/Ganesha.jpg" width="302" height="402" />
    </div>
    <div class="col-sm-4">

        <figure>
            <img class="portait" src="images/guru_poor_2016.JPG" width="302" height="402" />
            <figcaption>Baba on Guru Poornima 2016</figcaption>
        </figure>
    </div>
    <div class="col-sm-4">
        <img class="portait" src="images/thursday_baba.jpg" width="302" height="402" />
    </div>
</div>

        <div class="row">
            <div class="col-lg-12 col-cm-12">
                <H3>About this site</H3>
            </div>
            <div class="col-lg-12 col-cm-12 " style='overflow: auto'>
                <h4><a href="#/PastWeek/1" name='links' style="text-decoration:none;color:maroon;">(Link:) Weekly Posts</a></h4>
                <h4><a href="#/Narrations" style="text-decoration:none;color:maroon;">(Link:) Narrations and Series of Sayings</a></h4>
                <h4><a href="#/Archive" style="text-decoration:none;color:maroon;">(Link:) Archives</a></h4>
                <h4><a href="#/Poems" style="text-decoration:none;color:maroon;">(Link:) Poem</a></h4>
                <h4><a  href="#myPoem" style="text-decoration:none;color:maroon;">A poem I wrote</a></h4>
                A collection of sayings collected by our modern day Hemadpant related to spiritiual freedom. Jayasimha Prasad started Sai Amruta Vani (literal translation 'Words or Voice of Nectar') on August 10 2010.
                <p>Jayasimha gleans and searches different sources to find prophetic and wise sayings, narrations of stories and other snippets relevant to spirituality and love. He has developed a super knack of posting something which is so relevant at that point of time!!! Appears that he is being guided by a Supreme force... </p>
                <p> This is divided by week and starts with last weeks' sayings. At this point, the list starts with the past week (as mentioned) then extends to a few weeks back (how many is, right now, dynamic!!) <span style="color:black; font-weight:bolder"> *</span>. <p />Hoping to iteratively add more content with a long term goal to be able to post all past and present sayings</p>
                <p>Hope you enjoy and absorb these pearls and gain from them!! </p>
                <a name='myPoem'><h5>To Shirdi Sai: a prayer</h5><p>Aatey hai duur duur se<br/>
                    Shirdi yaatra bhakti man mein<br/>
                    Dekhne aapki murthy,<br/>
                    De man ko shanti<br/>
                    Bhakto ka pranaaam sweekarna,<br/>
                    Kehta Ye Sai Ka Deewana<br/><br/>
                    Baithe ho samadhi sthan<br/>
                    Kintu nazar sabko chhan<br/>
                    America ya ho Hindustaan<br/>
                    Duniya mei chhayi aapki shaan<br/>
                    Mann Se, Dil se Pukaarey, Aap aana<br/>
                    Kehta Ye Sai Ka Deewana<BR/><br/>
                    
                    Lagtaa Dekte ho Na Dekhhe Bhi<br/>
                    Natkhhat aanken maasoomyat bhi<br/>
                    Muskurahat se Suraj bhi Sharmaye<br/>
                    Zindagi Ki Amawas Ko Poonam Banaye<br/>
                    Aapky Bachho ka palan Karna<br/>
                    Kehta Ye Sai Ka Deewana<br/><br/>

                    Rogi ho ya dukhi ho sabh aatey<br/>
                    Gun aapke Gaatey<br/>
                    Udi se aseemit chamatkaar<br/>
                    Ilaaj ke saath dher saara pyaar<br/>
                    Bigadi ko Durusth Karaana,<br/>
                    Kehta Ye Sai Ka Deewana <br/><br/>

                    Seva Mein Mewa, Sai Ka Paigam<br/>
                    Na Phal ki Apeksha Karo Achhe Kaam<br/>
                    Na Nafrat, Na Krodh, Na Bhay, Man Ko Shanth Rakhna<br/>
                    Sahi Dishaa main chalna, Na Burey mein Bhataknaa<br/>
                    Bhaktoe se Achhey Karya Karwaana,<br/>
                    Kehta Ye Sai Ka Deewana<br/><br/>
                    
                    Naa Bair, Naa Ghamand, Dosti Badhaana,<br/>
                    Naa oonch Naa Neech, Ek Bartaw karaana<br/>
                    Ghamand, Ahankar, Basma Karoe<br/>
                    Ek Saath, Ek Praan Jiyo Phalo<br/>
                    Tootey Rishto Ko Judaana<br/>
                    Kehta Ye Sai Ka Deewana<br/><br/>
                    
                    Pyaar se Duniya chalti hai<br/>
                    Pyaar Bina Duniya Jalti Hai<br/>
                    Pyaar ka Prasaad De De Sai<br/>
                    Pyaar Poori Duniya Pe Chhai<br/>
                    Humesha, Dil Mein Jaga Banana,<br/>
                    Kehta Ye Sai Ka Deewana</a> <br/>
                    <a href='#links'>Back to links </a></p>
                    <p style="padding-top:100px;">* Sometimes it may not align to a calendar week, or the order may be changed, to preserve continuity of a series of postings</p>   ** This will take you to the weekwise page - you can navigate to all weeks from there
            </div>
 
    </div>

