<h2>Contributors</h2>
<div id="contributorUpload" style="border: 1px solid silver; padding:2px;margin:3px;width:auto;">
    <b>Upload existing contributor data</b> <input type="checkbox" name="overwrite" value="Overwrite?" ng-model="overwriteCurrency" hidden />
    <input type="file" id="contributorFileInput" class="chooseFileStyle"> <input type="button" value="Upload" ng-click="uploadContributors()" class="uploadButtonStyle" />
</div>
 <p ng-bind-html="readMeOverview"></p> 
<table  border="1" cellpadding="0" cellspacing="0"  class="table">
  <tr>
        <th ng-click="doSort('ContributorID')">ID</th>
    <th ng-click="doSort('ContributorName')"   >Contributor Name</th>
        <th ng-click="doSort('Amount')"   >Amount in orignal curr.</th>
      <th ng-click="doSort('Currency')">Currency</th>
        <th ng-click="doSort('ConvertedAmount')"   >Converted Amount</th>
        <th ng-click="doSort('Comments')">&nbsp;Comments</th>
        <th ng-click="doSort('DateReceived')">Received</th>
        <th ng-click="doSort('DateDeposited')">&nbsp;Deposited</th>
</tr>
    <tr>
        <th><input type="text" ng-model="contributorFilter.ContributorID" /></th>
        <th><input type="text" ng-model="contributorFilter.ContributorName" /></th>
        <th><input type="text" ng-model="contributorFilter.OriginalCurrencyAmount"> </th>
        <th><input type="text" ng-model="contributorFilter.Currency"> </th>
        <th> <input type="text" ng-model="contributorFilter.ConvertedAmount">  </th>
        <th> <input type="text" ng-model="contributorFilter.Comments">  </th>
        <th> <input type="text" ng-model="contributorFilter.DateReceived">  </th>
        <th> <input type="text" ng-model="contributorFilter.DateDeposited">  </th>
 </tr>
    <tr>
        <td class="editCell"><input type="button" id="save" value="ADD" data-ng-click="addContributor()" /> </td>
        <td  class="editCell"><input type='text' data-ng-model="ContributorName" /></td>
        <td  class="editCell"><input type='text' data-ng-model="OriginalCurrencyAmount" />
        </td>
        <td  class="editCell"> 
        <select data-ng-model="data.selectedOption"
                data-ng-options="currency.Name + ' (' + currency.value +')' for currency in data.currencyList">
</select></td>
        <td  class="editCell">&nbsp;</td>
        <td class="editCell"><input type='text' data-ng-model="Comments" /></td>
        <td  class="editCell">&nbsp;</td>
        <td class="editCell">&nbsp;</td>
    </tr>
<tr ng-repeat="contributor in contributorList | filter:contributorFilter | orderBy:sortBy:reverse"> 
        <td>{{ contributor.ContributorID }}</td>
        <td>{{ contributor.ContributorName }}</td>
        <td>{{ contributor.OriginalCurrencyAmount }}</td>
        <td> {{ contributor.Currency }}</td>
        <td>{{ contributor.ConvertedAmount }}</td>
        <td>{{  contributor.Comments}}</td>
        <td>{{ contributor.DateReceived |date:'MMM dd yyyy' }}</td>
        <td>{{  contributor.DateDeposited |date:'MMM dd yyyy'}}</td>
</tr>
</table>
<br />
