<a name='myPoem'><h5>To Shirdi Sai: a prayer</h5><p>Aatey hai duur duur se<br/>
    Shirdi yaatra bhakti man mein<br/>
    Dekhne aapki murthy,<br/>
    De man ko shanti<br/>
    Bhakto ka pranaaam sweekarna,<br/>
    Kehta Ye Sai Ka Deewana<br/><br/>
    Baithe ho samadhi sthan<br/>
    Kintu nazar sabko chhan<br/>
    America ya ho Hindustaan<br/>
    Duniya mei chhayi aapki shaan<br/>
    Mann Se, Dil se Pukaarey, Aap aana<br/>
    Kehta Ye Sai Ka Deewana<BR/><br/>
    
    Lagtaa Dekte ho Na Dekhhe Bhi<br/>
    Natkhhat aanken maasoomyat bhi<br/>
    Muskurahat se Suraj bhi Sharmaye<br/>
    Zindagi Ki Amawas Ko Poonam Banaye<br/>
    Aapky Bachho ka palan Karna<br/>
    Kehta Ye Sai Ka Deewana<br/><br/>

    Rogi ho ya dukhi ho sabh aatey<br/>
    Gun aapke Gaatey<br/>
    Udi se aseemit chamatkaar<br/>
    Ilaaj ke saath dher saara pyaar<br/>
    Bigadi ko Durusth Karaana,<br/>
    Kehta Ye Sai Ka Deewana <br/><br/>

    Seva Mein Mewa, Sai Ka Paigam<br/>
    Na Phal ki Apeksha Karo Achhe Kaam<br/>
    Na Nafrat, Na Krodh, Na Bhay, Man Ko Shanth Rakhna<br/>
    Sahi Dishaa main chalna, Na Burey mein Bhataknaa<br/>
    Bhaktoe se Achhey Karya Karwaana,<br/>
    Kehta Ye Sai Ka Deewana<br/><br/>
    
    Naa Bair, Naa Ghamand, Dosti Badhaana,<br/>
    Naa oonch Naa Neech, Ek Bartaw karaana<br/>
    Ghamand, Ahankar, Basma Karoe<br/>
    Ek Saath, Ek Praan Jiyo Phalo<br/>
    Tootey Rishto Ko Judaana<br/>
    Kehta Ye Sai Ka Deewana<br/><br/>
    
    Pyaar se Duniya chalti hai<br/>
    Pyaar Bina Duniya Jalti Hai<br/>
    Pyaar ka Prasaad De De Sai<br/>
    Pyaar Poori Duniya Pe Chhai<br/>
    Humesha, Dil Mein Jaga Banana,<br/>
    Kehta Ye Sai Ka Deewana</a> <br/>
    <a href='#links'>Back to links </a></p>