<side-menu-bar></side-menu-bar>
<div class="nectar-back" style="height:auto;float:right;width:85%;overflow:
    auto;">
    <h5> Sayings for {{WhichWeek}} </h5>
    <table class="table table-striped"  >

        <tr ng-repeat="thisDaySaying in thisWeeksSaying|orderBy:sortType3">
            <td style="min-width:700px;width:70%">
                <article class="weeklytextcontent">
                    Posted {{thisDaySaying.posted}} <br />
                    <h3 ng-bind-html="thisDaySaying.title"></h3>
                    <p ng-bind-html="thisDaySaying.content">
                    </p>
                    &nbsp;&nbsp; -  {{thisDaySaying.author}}<br />
                </article>
              </td>
            <td > <img class="portait" ng-src={{thisDaySaying.img}} width="302" height="403">  </td>
            
        </tr>
    </table>
    </div>