<div class="nectar-menu-sidebar">
    <h4>Pages:</h4>
    <div>
        Weekly <p />
        <a class="nectar-menu-sidebar-weekly-link" href="#/PastWeek/1"> * 1 Week ago</a><p />
        <a class="nectar-menu-sidebar-weekly-link" href="#/PastWeek/2"> * 2 Weeks ago</a><p />
        <a class="nectar-menu-sidebar-weekly-link" href="#/PastWeek/3"> * 3 Weeks ago</a><p />
        <a class="nectar-menu-sidebar-weekly-link" href="#/PastWeek/4"> * 4 Weeks ago</a><p />
        <a class="nectar-menu-sidebar-weekly-link" href="#/PastWeek/5"> * 5 Weeks ago</a><p />
        <a class="nectar-menu-sidebar-weekly-link" href="#/PastWeek/6"> * 6 Weeks ago</a><p />
        <a class="nectar-menu-sidebar-collection-link" href="#/Narrations"> * Narratives</a><p />
        <a class="nectar-menu-sidebar-collection-link" href="#/Archive"> * Archives</a><p />
        External links<br />
        <a class="nectar-menu-sidebar-external-link" href="../Ganesha/home.html" target="_blank">Shree Ganesh</a> 
</div>
</div>