<div>
<p>
<ul>
    <li class="li-header"> Attempt to build a 5 bed ICU system</li>
    <li>This is for a 5 bed ICU system where patients with BP above 150 Syst or 100 Diast or 270 cholesterol are admitted</li>
    <li>The table shows red for over and green for below</li>
    <li>On exit one more patient is added, and the cured patient is removed from the list</li>
    <li><em>Step  1</em> initializes the first set of 5 records using the deepCopy API of my JSObjects library and an extension of Math.Radom to generate ramdom levels.Also ng-class mapped to a function returning value dependant class </li>
    <li><em>Step  2</em> Button row to curing patients, using Array.shift and splice. and my deepCopy </li>
    <li><em>Step  3</em> Dynamic change of levels using ng-inteval and my API to dynamically change the class using my DOMELement API (removing a cured patient dynamically coming soon) </li>
    <li><em>Step  4</em> Add charting - average % over good health limits </li>
<ul>
    <div class="row">
         <div class="col-lg-4">
    <h4> step 1 add the static data </h4>
        <table class='table table-striped' style='width:90%'>
        <tr>
          <th>Name</th>    
          <th>Age</th>    
          <th>BP Systolic</th>    
          <th>BP Diastolic</th>    
          <th>Choleterol</th>    
        </tr>
            <tr ng-repeat = 'patient in fivePatientData'>
              <td>{{patient.name}}</td>
             <td>{{patient.age}}</td>
             <td id='systolic{{$index}}' ng-class=markValue('systolic{{$index}}',{{patient.systolic}},111)>{{patient.systolic}}</td>
             <td id='diastolic{{$index}}' ng-class=markValue('diastolic{{$index}}',{{patient.diastolic}},80) >{{patient.diastolic}}</td>
             <td id='cholesterol{{$index}}' ng-class=markValue('cholesterol{{$index}}',{{patient.cholesterol}},270)>{{patient.cholesterol}}</td>
            </tr>
        </table>
        </div><div class="col-lg-8"><H4> step 4 Plot of average health  </H4> 
     <nvd3 options="statsOptions" data="statsData"></nvd3>
     </div>
    </div>
     <div class="row" >
    
         <div class="col-lg-5"><H4> step 2 Buttons to simulate curing a patient  </H4></div><div class="col-lg-7">
         
            <button class='btn btn-primary' ng-click='curePatient(1)'>cure patient1</button>
            <button class='btn btn-primary' ng-click='curePatient(2)'>cure patient2</button>
            <button class='btn btn-primary' ng-click='curePatient(3)'>cure patient3</button>
            <button class='btn btn-primary' ng-click='curePatient(4)'>cure patient4</button>
            <button class='btn btn-primary' ng-click='curePatient(5)'>cure patient5</button>
         </div>
    </div>
      <div class="row">
    <div class="col-lg-5"><H4> step 3  using $Interval to randomly change the values </H4></div><div class="col-lg-7">
    <button  class='btn btn-primary' ng-click='startPoll(1)'>Start</button>
    <button class='btn btn-default' ng-click='endPoll(2)'>Pause</button>
          </div>
    </div>
    <div class="row">
  
 
</div>
</p>
</div>