<div class="enclosedArticle">
    <h3>Shree Vigneshwar of Ozar</h3>
    <p>&nbsp;Ozar is approachable from Junner by state transport buses. For going to Junner, regular buses from Bombay and Pune are available. The temple here is facing east. This temple was recently renovated during the period 1958-1968.</p>
    <p>&nbsp;&nbsp;The legend connected with the temple is as follows: (Ganesh Purana)<br/>There lived a king named Abhinandan at Hemwati. He was very ambitious. He wanted to perform a yagna and conquer the kingdom of Indra, the Lord of heavens.
    <br/>&nbsp;When Indra came to know of this, he remembered the devil Vighnasur whose 'profession' was to disturb the vedic rituals. The gods went to Ganesha, who fought Vighnasur and defeated him. The Asura asked for pardon and also requested the Lord to carry his name with that of his. The place where the battle was fought was Ozar, and Lord Ganesha here came to be known as Vighneshwar Vinayaka, the conqueror of Vighnasur.</p>
</div>

