body {
    /* Background Gradient for Monochromatic Colors */

    background-color: #FFFFFF;
    /* For WebKit (Safari, Chrome, etc) */
    background: #FFFFFF -webkit-gradient(linear, left top, left bottom, from(#D4B996), to(#FFFFFF)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #FFFFFF -moz-linear-gradient(top, #D4B996, #FFFFFF) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D4B996, endColorstr=#FFFFFF) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D4B996, endColorstr=#D4B996)" no-repeat;
    color:saddlebrown;
    margin:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:10px;
      max-height:1000px;
    min-height:800px;
    
}
.fixed {
    background-color:rgba(56,0,0,0.1);
    padding:50px;
}
.fixed h1 
{
    margin-bottom:50px;
}
 .row .fixed {
    min-width:800px;
    overflow:auto;
}
 
  .fixed hr+span {
     opacity:0.59;
      font-style:italic;
  }
 .sideBar hr
{
    margin-bottom: 5px;
    color:saddlebrown;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

h1 {
    text-shadow:2px 2px;
    font-style:italic;
}
h1  span
{

    color:black;
    font-size:smaller;text-decoration:none;text-shadow:none;
    font-weight:500;
}
header{
     background-color:#EAEEEA;
    padding:10px;
    border:inset 2px #ABAB7A;
    border-radius:4px;
}
.sideBar{
    background-color:tan;
    padding:10px;
     position:fixed;
    border-radius:4px;
    box-shadow: 5px 3px ;
}
.sideBar h5 {
    color:saddlebrown;
    font-style:italic;
    font-weight:700;
    margin:10px 20px;
}
.sideBar ul 
{
     background-color:tan;
     color:brown;
   
}
.sideBar li
{
     background-color:tan;
     color:brown;
     text-decoration:none;
   
}
.sideBar li a
{
     background-color:tan;
     color:brown;
     text-decoration:none;
   
}
.completed
{
    background-color:#77AA77;
    border: solid green 1px;
}
.notStarted
{
    background-color:#AB7A7A;
    border: solid red 1px;
}
.wip
{
    background-color:#ABAB7A;
    border: solid yellow 1px;
}
.editCell{
    background-color:gray;
}
.subSection 
{
    background-color:#EAEEEA;
    margin:5px;
    border: inset 3px;
    border-radius: 5px;
    padding:5px;

}
.chooseFileStyle {
    background-color: white;
    border: solid 2px green;
    border-radius: 3px;
    padding:2px;
    margin: 1px;
}

.uploadButtonStyle
 { 
    background-color:#AAEEEF;
    border: solid 1px black; 
    border-radius:3px;
    margin:1px;

}
.downloadButtonStyle
 { 
    background-color:#FFFD90;
    border: solid 1px black; 
    border-radius:3px;
    margin:1px;

}
table { width:3200px; max-width:200px; border: solid 2px black;}
td {   max-width:200px; border: solid 1px black;}
inpout {  width:1110px;}
ul {background-color:#ffffff;}
li {width:auto; margin:15px; font-weight:bold;}
