<div >
    <div >
        <h4>Demonstrated use of REST using  Git API</h4>
        <p>This page retrieves a git user and repository information.<br/> Enter a git user name in the text box below, click the 'Get Gut Hub Detail' button, to see the details 
        The Table on the left shows user information, while the one on the right shows repository details for that user<br />
        The technology used is <strong>HTML/CSS/Angular and REST</strong> using  the <strong>$http</strong> library in conjunction with a <strong>promise-then</strong> logic
        <h5><strong>Pending and Refinements</strong></h5>
        While the page is functionally complete and sufficiently readable, some items have to be addressed; others can be improved:
        <ul>
            <li>The page has to be refreshed when retrieving data for a new user. (This can be addressed using  either the $cacheFactory or $q APIS for this)</li>
            <li>Repository values are recursive JSON objects - will need to use recursion down the sub-object tree of the repo value and enhanced styling to make for a clearer UI </li>
            <li>Filters and sorting would be nice to have</li>
            <li>Fancier styling, maybe?</li>
        </ul></p>
    </div>
    <label for="userName">Enter User Name</label>
    <input type="text" placeholder="Enter User Name" ng-model="gitHubUser"/>
    <button ng-click="getHubInfo()">Get Git Hub Detail</button>
    <div>
        <div style="float:left;overflow:scroll;width:50%;">
            <h3>USER</h3>
            <table class="table table-striped table-user">
                <tr><th>Key</th><th>Value</th></tr>
                <tr ng-repeat="gitUserProperty in gitUserInfo">
                    <td>{{gitUserProperty.key}}</td>
                    <td style="width:1300px;">{{gitUserProperty.value}}</td>
                </tr>
            </table>
        </div>
        <div style="float:right;overflow:scroll;width:50%;">
            <h3>REPO</h3>
            <table class="table table-striped table-repo">
                <tr><th>Key</th><th>Value</th></tr>
                <tr ng-repeat="gitUserRepoProperty in gitUserRepoInfo"  >
                    <td>
                        {{gitUserRepoProperty.key}}
                    </td>
                    <td><div style="overflow:scroll;">{{gitUserRepoProperty.value}}</div></td>
                </tr>
            </table>
        </div>
    </div>
   
</div>
