<header style="border:1px outset silver;margin:0px;padding:0px;">
    <nav class="navbar navbar-default nectar-navbar-default">
        <ul class="navbar navbar-nav">
            <li><a href="../index.html"><b>Home Page</b></a></li>
            <li><a href="#/about">About this site</a></li>
            <li><a href="#/PastWeek/1">Weekly ** </a></li>
            <li><a href="#/Narrations">Narratives </a></li>
            <li><a href="#/Archive">Archives </a></li>

        </ul>
    </nav>
</header>