body {
    border: solid 5px;
    background-size: 480px 640px;
    background-repeat:repeat-x;
    background-position:top ;
    opacity:0.8;
     
    
}
.nectar-back {
    border: solid 5px;
    background-color:#32c385;
 /*   background-image:url('../images/dwarkamai_1.jpg');
    background-size: 768px 1024px;*/
    min-height:768px;
    min-width:1024px;
    opacity:1.0;
    font-weight:900;
}
table{
      ;
     opacity:1;
     font-style:italic;
}
.portait
{
    border: 15px inset;
    border-radius:7px;
    border-color:gold;
    width: 300px ;
    height:380px;
}